!/public/data/3401ZonesCoordinates.geojson
!/public/data/4326ZonesCoordinates.geojson
!/public/data/SinglePolygenZoneBoundaries4326.geojson
!/public/data/ZoneBoundaries*.geojson
!/public/data/ZoneBoundaries*.geojson
!/public/data/ZonesCoordinates.csv
*.omx
.DS_Store
/node_modules
/public/data/*
/public/flow_data*
/public/flow_data_110_2018_1
omx-data/
ve/
