*.omx
*~
.DS_Store
._.DS_Store
/node_modules
/public/data/compressed/*
/public/data/uncompressed/*
/public/flow_data*
omx-data/
public/data/flow_list.csv
public/version.txt
ve/
indexLatLongDict.csv
pecas_matrices_title.csv
.idea/
