!.gitignore
/public/flow_data*
/public/flow_data_110_2018_1

/public/data/*
!/public/data/4326ZonesCoordinates.geojson
!/public/data/3401ZonesCoordinates.geojson
!/public/data/ZonesCoordinates.csv
!/public/data/ZoneBoundaries*.geojson
!/public/data/ZoneBoundaries*.geojson
!/public/data/SinglePolygenZoneBoundaries4326.geojson
/node_modules
.DS_Store
