extends layout

block content
  h1= title
  //p Welcome to #{title}
  
  div(id = "map")
    div(id="viewDiv")
    div(id = "layerSelection")
        input(type="radio" name="AlbertaBaseLayer" id="AlbertaBaseLayer" checked = 'checked' style="height:18px; width:18px")
        Thing Alberta Base Layer
  div(id = "legendDiv")
    fieldset(data-role='controlgroup')
      legend Legend

      div(id = "arrow-left2" class="clustered-line arrow-left2")
      div(class = "clustered-line" id = "clustered-line")
        Thing Clustered flow
      br
      div(id = "arrow-left" class="single-line arrow-left")
      div(class = "single-line" id = "single-line")
        Thing Single flow
      br
      input(type = "text",id="circleOrigin")
      Thing Origin point
      br
      input(type = "text",id="circleDest")
      Thing Destination point
      br

  div(id = "blockContainer")
    div(id="infoDiv")
      div(id = "containerw")
        fieldset(id = "containerField")
          input( type="Button" id = "WantJson" value="Create a GeoJson file ")
        div(class = "controlPanel" data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='clusters') Number Of Clusters: 
               input(id='clusters',type='text',value='',name='clusters' size="2")
               input(type="range" min="100" max="5000" value="200"  id="myRange")
            label(for='clusters') &nbsp&nbsp&nbsp&nbsp Number Of Threads: 
               input(id = 'threadNumber',type = 'text',value = '8', size = '2')
               input(type="range" min="2" max="25" value ="8" id="threadRange")
               input( type="Button" id = "RerunButton" value="Run again ")



        div(class = "controlPanel")
          fieldset(data-role='controlgroup')
            label(for='clusters') Current Iteration: 
              input(type = "integer", id = "currentIteration" value = "0",name = "iteration" size="2")
              input( type = "Button" id = "nextIteration",value = "Run next iteration")
              label(class="switch")
                 input(type="checkbox" id = "autoRun")
                 span(class="slider")
  

        div(class = "controlPanel")
          fieldset(data-role='radiogroup')
            label(for='clusters') Single Flow Format: 
              input(type="radio" name="dotsOrLines" id="dots" checked)
              Thing Dots   
              input(type="radio" name="dotsOrLines" id="lines")
              Thing Lines
    //- div(id = "unusedDataDiv")
    //-   table(id = "dataTable0" border="1" class="table table-bordered table-condensed table-striped table-hover")
    div(id = "dataDiv")
      table(id = "dataTable" border="1" class="table table-bordered table-condensed table-striped table-hover")
    div(id = "flowDiv")
      table(id = "flowTable" border="1" class="table table-bordered table-condensed table-striped table-hover")
              

           
  script(type="text/javascript" src="/javascripts/main.js")    


  script.
      //console.log($('#map').attr('id'))
      //pass data to frontend from backend
      var user = !{JSON.stringify(title)};  
      //var luz_data = !{JSON.stringify(luz_data)};
